<!DOCTYPE html>
<html lang="es">
<head>
	<style type="text/css">
		body {
		    padding: 20px 10%;
		}
		section {
		    margin: 10px 0px;
		    padding: 30px 0px;
		}
		section div {
		    border: 1px solid gray;
		    padding: 20px 40px;
		}
		a {
			color: lightblue;
		}
		hr {
			width: 40px;
			float: left;
		}
		.container {
			background: rgb(240,240,240);
			padding: 10px;
		}
		.page {
			background: white;
			margin: 50px;
			width: 50%;
		}
		.page header {

		}
	</style>
</head>
<body>
	<div class="container">
		<div class="page">
			<header>
				<h1>My store</h1>
			</header>
			<h2>Hi Octavio Martinez</h2>
			<hr>
			<section class="">
				<h3>Order ID TQXZJMEGV -In transit</h3>
				<div>
					<p>Your order with the reference <b>TQXZJMEGV</b> is on its way.</p>
					<p>You can track package using the following link: <a href="">969986246</a></p>
				</div>
			</section>
			<section>
				<p>Follow your order and download your invoice on our shop, go to the <a>Order history and details</a> section of your customer account.</p>
				<p>If you have a guest account, you can follow your order via the <a>Guest Tracking</a> section on our shop.</p>
			</section>
		</div>
		<div>
			<a href="">My shop</a>
			<span>Powered by Prestashop</span>
		</div>
	</div>

	<div>
		<span>Octavio Martínez</span>
		<span>Desarrollador de Software</span>
		<span>(Especializado en tiendas online)</span>

		<span>Whatsapp: <a>+19104469890</a></span>
		<span>Mira mis proyectos en Github: <a>Zenx5</a></span>
	</div>
</body>
</html>